{% extends 'base.html' %}

{% block add_link %}
<a href="{{ url_for('addMember') }}" class="add">Add New Member</a>
{% endblock %}

{% block search %}
    <form action="{{ url_for('members') }}" method="GET" class="searchForm right-form">
        <input type="text" name="search_query" placeholder="Search by name">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
{% endblock %}

<br>


{% block content %}
    <h2 class="page-header">{% block title %} Members {% endblock %}</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Registration Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member['name'] }}</td>
                <td>{{ member['email'] }}</td>
                <td>{{ member['phone_number'] }}</td>
                <td>{{ member['address'] }}</td>
                <td>{{ member['registration_date'] }}</td>
                <td><a href="{{ url_for('editMember', id=member.id) }}" class="edit"><i class="fas fa-edit"></i></a>
    <form action="{{ url_for('deleteMember', id=member.id) }}" method="POST" class="deleteForm">
        <button class="delete" onclick="return confirm('Are you sure you want to delete this member?')"><i class="fa-solid fa-trash"></i></button>
    </form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
